body {
  background-color: #dce1e182;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-weight: bold;
  font-size: 14px;
}

#canvas {
  max-height: 400px !important;
  width: 560px !important;
}

.p-button {
  padding: 0 !important;
}

.deneme {
  padding: 5px !important;
}

.dashboard {

  min-width: 100%;

  &-toggle {
    border-radius: 8px;
    padding: 10px;
    background: rgb(20, 116, 138) !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  &-header {
    &-logo {
      height: 48px;
    }

    &-megamenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &-chart {
    &-header {
      // width: 100%;
      // margin: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      &-date {
        opacity: .5;
      }
    }

    &-table {
      .p-datatable-tbody {
        tr {
          cursor: pointer;
        }
      }
    }
  }

  &-content {
    margin: auto;
    width: clamp(280px, 90%, 800px);
    padding-top: 90px;

    .p-card-title {
      padding: 10px 20px;
      text-transform: uppercase;
    }

    // .p-card {
    //   width: 100%;
    // }
    .p-datatable-table {
      margin: 10px auto;
      min-width: 100%;
    }

  }

  &-list {
    position: absolute;
    top: 30px;
    left: 30px;
    background: white;
    width: 15%;
    border-radius: 12px;

    &-header {
      font-size: 20px;
      text-align: center;
      word-spacing: 5px;
    }

    &-item {
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-delete {
        color: rgb(255, 99, 132) !important;
        padding: 0px !important;
        margin: 0 !important;

        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: none !important
        }

        &.p-button.p-button-text:enabled:active {
          background: transparent;
          color: transparent;
          border-color: transparent;
        }

        &:enabled:hover {
          background: transparent !important;
          border-color: transparent !important;
        }

      }



    }
  }
}

.columns {
  &-option {
    max-height: calc(100vh - 55vh);
    overflow-y: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    &-item {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-button {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    width: 18rem;

    button {
      width: 100%;
      
      .p-button-label{
        padding: 5px 10px;
      }
    }
  }
}

.chart {
  padding: 0 20px;
  margin: auto;
  width: 100%;
  overflow: auto;
  aspect-ratio: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item-input {
      width: 100%;
    }
  }

  #canvas {
    max-width: 100%;
    min-width: clamp(280px, 100%, 600px);
  }

  &-vote-button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-between;
    box-sizing: border-box;

    &-list {
      text-align: center;

      button {
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;



        &:disabled {
          border-color: #ECECEC !important;
          background-color: gray !important;
          color: #000 !important;
          opacity: .3;
          cursor: not-allowed;

          &.selected-vote {
            opacity: .5 !important;
            background-color: green !important;
            color: #FFF !important;
          }
        }

      }
    }

  }

  &-color-picker {
    position: absolute;
    z-index: 9999;
  }

  &-modal {
    width: 300px;
    aspect-ratio: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


}

.select-color {
  border: 1px solid red;
  height: 15px;
  width: 16px;
  cursor: pointer;
}

.label-columns {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;

  .p-inputtext {
    //padding: 3px !important;
    border-radius: 4px;
  }

  .p-colorpicker-preview {
    height: 20px !important;
    width: 20px !important;
    margin-left: 5px;
  }

  &-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

// @media only screen and (max-width: 600px) {
//   .label-columns {
//     display: flex;
//     align-items: flex-start;
//     gap: 10px;
//     flex-direction: row !important;
//     margin-top: 10px;

//     .p-inputtext {
//       padding: 3px !important;
//       border-radius: 4px;
//     }

//     .p-colorpicker-preview {
//       height: 20px !important;
//       width: 20px !important;
//       margin-left: 5px;
//     }

//     &-item {
//       display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     }
//   }
// }