#canvas{
  max-height: 400px !important;
  width: 560px !important;
}
.dashboard {
  &-header {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 100vw;
    height: 100px;
  }

  &-content {
    padding: 50px 0px;
    //width : clamp
    background-color: #e2e2dc;
    width: 100vw;
    height: calc(100vh - 100px);
    .p-card-title{
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }

  &-list {
    position: absolute;
    top: 30px;
    left: 30px;
    background: white;
    height: calc(100vh - 60px);
    width: 15%;
    border-radius: 12px;

    &-header {
      font-size: 20px;
      text-align: center;
      word-spacing: 5px;
    }

    &-item {
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-delete {
        color: rgb(255, 99, 132) !important;

        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: none !important
        }

        &.p-button.p-button-text:enabled:active {
          background: transparent;
          color: transparent;
          border-color: transparent;
        }

        &:enabled:hover {
          background: rgba(255, 99, 132, 0.2) !important;
          border-color: rgb(255, 99, 132) !important;
        }

      }
    }
  }
}

.chart {
  padding: 20px;
  margin:  auto;
  width: 600px;
  aspect-ratio: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-vote-button {
    width: 100%;
    display: flex;
    /* gap: 20px; */
    justify-content: space-around;
    padding-left: 30px;
    box-sizing: border-box;

    &-list {
      width: 100%;

      button {
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &:nth-child(1) {
          background: rgba(255, 99, 132, 0.2);
          border-color: rgb(255, 99, 132) !important;
          color: rgb(255, 99, 132);
        }

        &:nth-child(2) {
          background: rgba(255, 159, 64, 0.2);
          border-color: rgb(255, 159, 64) !important;
          color: rgb(255, 159, 64);
        }

        &:nth-child(3) {
          background: rgba(153, 102, 255, 0.2);
          border-color: rgb(153, 102, 255) !important;
          color: rgb(153, 102, 255);
        }

        &:nth-child(4) {
          background: rgba(75, 192, 192, 0.2);
          border-color: rgb(75, 192, 192) !important;
          color: rgb(75, 192, 192);
        }
      }
    }

  }

  &-color-picker {
    position: absolute;
    z-index: 9999;
  }

  &-modal {
    width: 300px;
    aspect-ratio: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}

.select-color {
  border: 1px solid red;
  height: 15px;
  width: 16px;
  cursor: pointer;
}

.column-style {
  display: flex;
  align-items: center;
  gap: 10px;
}