#canvas {
  max-height: 400px !important;
  width: 560px !important;
}
.p-button{
  padding: 0 !important;
}
.deneme{
 padding: 5px !important;
}
.dashboard {
  &-header{
    &-logo{
      height: 70px;
    }
    &-megamenu{
      display: flex;
    align-items: center;
    justify-content: space-between;
    }
  }
  &-chart-header {
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    &-date{
      opacity: .5;
    }
  }

  &-content {
    //width : clamp
    background-color: #dce1e182;
    width: 100vw;
    height: calc(100vh - 70px);

    .p-card-title {
      padding: 10px 20px;
      text-transform: uppercase;
    }
    .p-card {
      width: 55%;
    }
    .p-datatable-table{
      margin:10px auto;
      width: 55%;
    }

  }

  &-list {
    position: absolute;
    top: 30px;
    left: 30px;
    background: white;
    width: 15%;
    border-radius: 12px;

    &-header {
      font-size: 20px;
      text-align: center;
      word-spacing: 5px;
    }

    &-item {
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-delete {
        color: rgb(255, 99, 132) !important;
padding: 0px !important;
margin: 0 !important;
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: none !important
        }
        
        &.p-button.p-button-text:enabled:active {
          background: transparent;
          color: transparent;
          border-color: transparent;
        }

        &:enabled:hover {
          background: transparent !important;
          border-color: transparent !important;
        }

      }
      

      
    }
  }
}

.chart {
  padding :0 20px;
  margin: auto;
  width: 600px;
  aspect-ratio: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-vote-button {
    width: 100%;
    display: flex;
    /* gap: 20px; */
    justify-content: space-around;
    box-sizing: border-box;

    &-list {
      width: 100%;
      text-align: center;

      button {
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

      }
    }

  }

  &-color-picker {
    position: absolute;
    z-index: 9999;
  }

  &-modal {
    width: 300px;
    aspect-ratio: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}

.select-color {
  border: 1px solid red;
  height: 15px;
  width: 16px;
  cursor: pointer;
}

.label-columns {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;

  .p-inputtext {
    padding: 3px !important;
    border-radius: 4px;
  }
  .p-colorpicker-preview{
    height: 20px !important;
    width: 20px !important;
    margin-left: 5px;
  }

  &-item {
    display: flex;
    align-items: center;
  }
}