body{
    font-family: Arial, Helvetica, sans-serif;
}
.p-dialog{
  border-radius: 12px !important;
}
.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-form {
      background: white;
      width: 500px;
      height: 300px;
      border-radius: 12px;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;
        margin: auto;
        height: 100%;
        justify-content: center;
      }
      &-logo {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        img {
          max-height: 36px;
          margin-bottom: 2em;
        }
      }
      &-button {
        height: 30px;
        background: var(--main-color) !important;
        font-weight: bold;
        border: none !important;
        padding: 5px 20px !important;
        border-radius: 12px;
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: none;
        }
        &:enabled:hover {
          background: var(--main-color) !important;
        }
        &:disabled {
            cursor: not-allowed !important;
            }
      }
      &-input {
        border-radius: 12px;
        &:enabled:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none !important;
      border-color: #2196F3;
        }
      }
      &-confirmation{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-information{
        border: 1px solid var(--main-color);
        color: var(--main-color);
        padding: 2px;
        border-radius: 100%;
      }
    }
  }