.profile {
    &-page-content {

        display: flex;
        justify-content: space-evenly;

        &-list {
            margin: auto;
            width: clamp(280px, 90%, 1000px);
            padding-top: 90px;
        }

        &-information {
            flex: 0 0 60%;
            border: 1px solid red;
        }
    }
}